<!-- BOOTSTRAP NAV BAR -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Code:Me</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/community/community"
            >Community</a
          >
        </li>

        <%if(locals.isLoggedIn){%>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/user/userProfile/<%=locals.user.nickname%>"
          >
            <%if(locals.user.avatar===""){%>
            <span>ðŸ‘½ <%=locals.user.nickname%></span>
            <%}else{%>
            <img
              src="<%=locals.user.avatar%>"
              alt="avatar"
              style="
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 2px;
              "
            />
            <%=locals.user.nickname%> <%}%></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/logout"
            >Logout</a
          >
        </li>
        <%}else{%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/login"
            >LOGIN</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/join"
            >JOIN</a
          >
        </li>
        <%}%>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="ðŸ” Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
