<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <script defer src="/js/editArticle.js"></script>
    <title>Code Me : Edit Schedule</title>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container mt-3">
      <h3 class="text-center">Edit a post</h3>
      <form id="editArticleForm">
        <div class="mb-3 mt-3">
          <label for="schedule" class="form-label"><h5>TITLE</h5></label>
          <input
            id="editArticleTitle"
            type="text"
            class="form-control mb-1"
            value="<%=locals.postData.title%>"
            name="editArticleTitle"
            required
          />
          <small class="text-muted">max 50</small>
        </div>
        <div class="mb-3">
          <label for="content"><h5>Content</h5></label>
          <textarea
            class="form-control"
            rows="5"
            name="content"
            id="editArticleContent"
            required
            wrap="hard"
          >
<%=locals.postData.content%></textarea
          >
        </div>
        <button type="submit" class="btn btn-success">EDIT DONE</button>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          DELETE
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Are you sure you want to <span style="color: red">delete</span>
                this post?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <button
                  id="deleteArticleBtn"
                  type="button"
                  class="btn btn-danger"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
