<html>
  <head>
    <%- include("./components/HEADS.ejs")%>
    <script defer src="/js/write.js"></script>
  </head>
  <body>
    <%- include("./components/NAVBAR.ejs")%>
    <div class="container">
      <form id="scheduleForm" method="POST">
        <div class="mb-3 mt-3">
          <label for="schedule" class="form-label">Schedule</label>
          <input
            id="schedule"
            type="text"
            class="form-control"
            placeholder="Write a schedule"
            name="todo"
            required
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"
            >Due Date</label
          >
          <input
            id="dueDate"
            type="date"
            class="form-control"
            placeholder="asdf"
            name="dueDate"
            required
          />
        </div>
        <button type="submit" class="btn btn-success">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
