<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script defer defer src="../js/index.js"></script>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Code:Me</a></li>
        <li><a href="/write">Write</a></li>
        <li><a href="/list">List</a></li>
      </ul>
    </nav>

    <form id="scheduleForm">
      <p>Schedule</p>
      <input
        id="schedule"
        type="text"
        placeholder="Schedule"
        name="schedule"
        required
      />
      <p>Due Date</p>
      <input id="dueDate" type="text" placeholder="Due Date" name="dueDate" />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
